absl-py==0.13.0
aiohttp==3.7.4.post0
alembic==1.6.5
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
arviz==0.10.0
asgiref==3.2.10
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
audioread==2.1.9
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.9.1
bleach==3.1.5
braceexpand==0.1.6
bs4==0.0.1
cachetools==4.2.2
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2021.5.30
cffi==1.14.5
cftime==1.2.1
chardet==4.0.0
click==7.1.2
cliff==3.8.0
cmaes==0.8.2
cmd2==2.1.2
colorama==0.4.4
colorlog==5.0.1
conda==4.3.16
coverage==5.2.1
cssselect2==0.3.0
cvxopt==1.2.5
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
debugpy==1.4.0
decorator==5.0.9
defusedxml==0.6.0
distlib==0.3.1
Django==3.1
entrypoints==0.3
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.0.12
Flask==1.1.2
fsspec==2021.7.0
future==0.18.2
gast==0.4.0
google-auth==1.32.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
gprof==1.0.4
greenlet==1.1.0
grpcio==1.38.1
h5py==2.10.0
html5lib==1.1
idna==2.10
image==1.5.32
importlib-metadata==3.10.1
iniconfig==1.0.1
ipdb==0.13.3
ipykernel==6.0.3
ipython==7.25.0
ipython-genutils==0.2.0
ipythonblocks==1.9.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-core==4.7.1
jupyterthemes==0.20.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lesscpy==0.14.0
librosa==0.8.0
line-profiler==3.0.2
llvmlite==0.31.0
lxml==4.3.0
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.2
matplotlib-inline==0.1.2
memory-profiler==0.57.0
metakernel==0.27.5
mistune==0.8.4
more-itertools==8.4.0
mpmath==1.1.0
multidict==5.1.0
mypy==0.782
mypy-extensions==0.4.3
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.7
netCDF4==1.5.4
networkx==2.4
nose==1.3.7
notebook==6.1.1
numba==0.48.0
numpy==1.21.0
oauthlib==3.1.1
octave-kernel==0.32.0
opencv-python==4.3.0.36
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.2
pandas-datareader==0.9.0
pandocfilters==1.4.2
parso==0.8.2
patsy==0.5.1
pbr==5.6.0
pesq @ file:///Volumes/Work/Project/Repos/python-pesq
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip-autoremove==0.9.1
pluggy==0.13.1
ply==3.11
pooch==1.3.0
prettytable==2.1.0
prometheus-client==0.8.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.7.2
ptyprocess==0.7.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycallgraph==1.0.1
pycosat==0.6.3
pycparser==2.20
pyDeprecate==0.3.0
pyflakes==2.2.0
Pygments==2.9.0
pymc3==3.8
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
Pyphen==0.9.5
pyrsistent==0.16.0
PySoundFile==0.9.0.post1
pystoi==0.3.3
pytest==6.0.1
pytest-cov==2.10.0
python-dateutil==2.8.1
python-docx==0.8.7
python-editor==1.0.4
pytorch-lightning==1.3.8
pytz==2020.1
PyYAML==5.4.1
pyzmq==22.1.0
qpsolvers==1.4
qtconsole==4.7.5
QtPy==1.9.0
quadprog==0.1.7
render50==4.1.1
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scikit-learn==0.24.2
scipy==1.7.0
scraping @ file:///Users/jack/Documents/Programming/Python/scraping
seaborn==0.11.0
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
sortedcontainers==2.2.2
SoundFile==0.10.3.post1
soupsieve==2.0.1
sox==1.4.1
SQLAlchemy==1.4.22
sqlparse==0.3.1
stevedore==3.3.0
suade-scraping @ file:///Users/jack/Documents/Programming/Python/scraping
sympy==1.3
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
Theano==1.0.5
threadpoolctl==2.1.0
tinycss2==1.0.2
toml==0.10.2
torch==1.9.0
torchaudio==0.9.0
torchmetrics==0.4.1
torchvision==0.8.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
typed-ast==1.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.0.25
wcwidth==0.2.5
WeasyPrint==51
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.16.1
yarl==1.6.3
youtube-dl==2021.6.6
zipp==3.5.0